
{% extends "layout.html" %}
 {% import "_macros.html" as datos_macro %}
    {% block container%}

    <h1>Operas Bas</h1>

    <form action="" method="post">

        {{ datos_macro.datos('numero1','Ingrese el numero1') }}

        {{ datos_macro.datos('numero2','Ingrese el numero2') }}

        <div class="mb-3">
            <label for="operacion" class="form-label">operacion</label>
            <select class="forme-select" name="operacion" id="operacion">
                <option value="suma">suma</option>
                <option value="resta">resta</option>
                <option value="multiplicacion">multiplicacion</option>
                <option value="division">division</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">calcular</button>

    </form>
    <h1>La operacion de {{numero1}} + {{numero2}} = {{res}} </h1>

    {% endblock %}
